<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Administracion</title>
    <!-- Bootstrap core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top"
                 role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VideoStore</a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li class="active"><a href="#">Administrar</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right margin-rigth">
                        <li><p th:text="${username}"></p></li>
                        <li><a href="/login?logout">Cerrar sesion</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="#" th:action="@{/movie/search}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="movieTitle"/>
                            <input type="submit" value="Search" class="btn btn-default"/>
                        </div>
                    </form>

                </div>

            </nav>

        </div>
    </div>
    <div class="row">
        <h1>Administracion</h1>
        <br/><br/><br/>
        <a th:href="@{/management/user/}">Administrar usuarios</a>
        <a th:href="@{/management/movie/}">Administrar peliculas</a>

    </div>
</div>
</body>
</html>