<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Administracion de peliculas</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top"
                 role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VideoStore</a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li class="active"><a href="#" th:href="@{/management/}">Administrar</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right margin-rigth">
                        <li th:if="${isLogged}"><a th:text="${username}"></a></li>
                        <li><a href="/login?logout">Cerrar sesión</a></li>
                        <li><a>  </a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="#" th:action="@{/movie/search}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="movieTitle"/>
                            <input type="submit" value="Buscar" class="btn btn-default"/>
                        </div>
                    </form>

                </div>

            </nav>

        </div>
    </div>
    <div class="row">
        <br/><br/><br/>
        <div class="col-md-1"></div>
			  <div class="col-md-10">
          <h1>Administrar películas</h1>

          <br/><br/><br/>
          <a class="btn btn-danger" th:href="@{/management/}">Volver</a>

          <br/><br/><br/>
          <h1>Movies list</h1>

          <table id="moviesTable" class="table table-hover">
              <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Movie URL</th>
                  <th>Description</th>
                  <th>Year</th>
                  <th>Director</th>
                  <th>Actors</th>
                  <th>Front URL</th>
                  <th>Rating</th>
              </tr>
              <tr th:each="movie : ${movies}">
                  <td th:text="${movie.movieId}">id</td>
                  <td th:text="${movie.movieTitle}">title</td>
                  <td th:text="${movie.movieUrl}">movie url</td>
                  <td th:text="${movie.movieDesc}">description</td>
                  <td th:text="${movie.movieYear}">year</td>
                  <td th:text="${movie.movieDirector}">director</td>
                  <td th:text="${movie.movieActors}">actors</td>
                  <td th:text="${movie.movieUrlFront}">front url</td>
                  <td th:text="${movie.movieRating}">rating</td>
              </tr>
          </table>

		        <br/><br/><br/>
		        <h1>Nueva película</h1>
		        <form role="form" th:action="@{/management/movie/}" method="post">
		            <div class="form-group">
		                <label class="padding-top" for="newMovieTitle"> Título </label>
		                <input class="form-control" type="text" id="newMovieTitle" name="movieTitle" required="true"/>
		                <label class="padding-top" for="newMovieURL"> URL del contenido </label>
		                <input class="form-control" type="text" id="newMovieURL" name="movieUrl" required="true"/>
		                <label class="padding-top" for="newMovieDesc"> Descripción </label>
		                <input class="form-control" type="text" id="newMovieDesc" name="movieDesc"/>
		                <label class="padding-top" for="newMovieYear"> Año </label>
		                <input class="form-control" type="text" id="newMovieYear" name="movieYear"/>
		                <label class="padding-top" for="newMovieDirector"> Director </label>
		                <input class="form-control" type="text" id="newMovieDirector" name="movieDirector"/>
		                <label class="padding-top" for="newMovieActors"> Actores </label>
		                <input class="form-control" type="text" id="newMovieActors" name="movieActors"/>
		                <label class="padding-top" for="newMovieURLFront"> URL de la portada </label>
		                <input class="form-control" type="text" id="newMovieURLFront" name="movieUrlFront"/>
		                <label class="padding-top" for="newMovieRating"> Calificación </label>
		                <input class="form-control" type="text" id="newMovieRating" name="movieRating"/>
		                <input type="submit" class="btn btn-success padding-top" value="Añadir película"/>
		            </div>
		        </form>

		        <br/><br/><br/>
		        <h1>Modificar película</h1>
		        <form role="form" th:action="@{/management/movie/}" method="post">
		            <div class="form-group">
		                <input type="hidden" name="_method" value="patch" />
		                <label class="padding-top" for="modMovieId"> ID de película </label>
		                <input class="form-control" type="text" id="modMovieId" name="movieId" required="true"/>
		                <label class="padding-top" for="modMovieTitle"> Título </label>
		                <input class="form-control" type="text" id="modMovieTitle" name="movieTitle"/>
		                <label class="padding-top" for="modMovieURL"> URL del contenido </label>
		                <input class="form-control" type="text" id="modMovieURL" name="movieUrl"/>
		                <label class="padding-top" for="modMovieDesc"> Descripción </label>
		                <input class="form-control" type="text" id="modMovieDesc" name="movieDesc"/>
		                <label class="padding-top" for="modMovieYear"> Año </label>
		                <input class="form-control" type="text" id="modMovieYear" name="movieYear"/>
		                <label class="padding-top" for="modMovieDirector"> Director </label>
		                <input class="form-control" type="text" id="modMovieDirector" name="movieDirector"/>
		                <label class="padding-top" for="modMovieActors"> Actores </label>
		                <input class="form-control" type="text" id="modMovieActors" name="movieActors"/>
		                <label class="padding-top" for="modMovieURLFront"> URL de la portada </label>
		                <input class="form-control" type="text" id="modMovieURLFront" name="movieUrlFront"/>
		                <label class="padding-top" for="modMovieRating"> Calificación </label>
		                <input class="form-control" type="text" id="modMovieRating" name="movieRating"/>
		                <input type="submit" class="btn btn-success padding-top" value="Modificar película"/>
		            </div>
		        </form>

		        <br/><br/><br/>
		        <h1>Eliminar película</h1>
		        <form role="form" th:action="@{/management/movie/}" method="post">
		            <div class="form-group">
		                <input type="hidden" name="_method" value="delete" />
		                <label class="padding-top" for="delMovieId"> ID de película </label>
		                <input class="form-control" type="text" id="delMovieId" name="movieId" required="true"/>
		                <input type="submit" class="btn btn-danger padding-top" value="Eliminar película"/>
		            </div>
		        </form>

      </div>

    </div>
</div>
</body>
</html>
